## Imports

In [4]:
import polars
import glob
import re

### Visualizing data from PSQL tables

#### Sales

In [6]:
connection = "postgresql://postgres:postgres@localhost:5432"

polars.read_database_uri(
    query = "select * from sales",
    uri = connection
).head()

shape: (5, 5)
┌───────┬──────┬────────────┬──────────────┬───────────┐
│ Store ┆ Dept ┆ Date       ┆ Weekly_Sales ┆ IsHoliday │
│ ---   ┆ ---  ┆ ---        ┆ ---          ┆ ---       │
│ i64   ┆ i64  ┆ str        ┆ f64          ┆ bool      │
╞═══════╪══════╪════════════╪══════════════╪═══════════╡
│ 1     ┆ 1    ┆ 05/02/2010 ┆ 24924.5      ┆ false     │
│ 1     ┆ 1    ┆ 12/02/2010 ┆ 46039.49     ┆ true      │
│ 1     ┆ 1    ┆ 19/02/2010 ┆ 41595.55     ┆ false     │
│ 1     ┆ 1    ┆ 26/02/2010 ┆ 19403.54     ┆ false     │
│ 1     ┆ 1    ┆ 05/03/2010 ┆ 21827.9      ┆ false     │
└───────┴──────┴────────────┴──────────────┴───────────┘

### Asking questions in Natural Language with Langchain, ChatGPT and Text2SQL

In [7]:
from text2sql.core import Text2SQL

sql = Text2SQL(model = "gpt-3.5-turbo")

##### Volume of Sales

In [8]:
query = sql.query("How much do we have in total sales?")
print(query)

WARNING:  database "postgres" has no actual collation version, but a version was recorded

SELECT SUM("Weekly_Sales") AS total_sales
FROM sales

In [9]:
polars.read_database_uri(
    query = query,
    uri = connection
)

shape: (1, 1)
┌─────────────┐
│ total_sales │
│ ---         │
│ f64         │
╞═════════════╡
│ 6.7372e9    │
└─────────────┘

##### Date with the greatest volume of sales

In [10]:
query = sql.query("In which date we had the greatest volume of sales?")
print(query)

WARNING:  database "postgres" has no actual collation version, but a version was recorded

SELECT "Date", SUM("Weekly_Sales") AS total_sales
FROM sales
GROUP BY "Date"
ORDER BY total_sales DESC
LIMIT 1;

In [11]:
polars.read_database_uri(
    query = query.replace(";", ""),
    uri = connection
)

shape: (1, 2)
┌────────────┬─────────────┐
│ Date       ┆ total_sales │
│ ---        ┆ ---         │
│ str        ┆ f64         │
╞════════════╪═════════════╡
│ 24/12/2010 ┆ 8.0931e7    │
└────────────┴─────────────┘

##### Which store type has the greatest sales average?

In [12]:
query = sql.query("Which store type has the greatest sales average?")
print(query)

WARNING:  database "postgres" has no actual collation version, but a version was recorded

SELECT s."Store", AVG(s."Weekly_Sales") AS avg_sales
FROM sales s
GROUP BY s."Store"
ORDER BY avg_sales DESC
LIMIT 1;

In [13]:
polars.read_database_uri(
    query = query.replace(";", ""),
    uri = connection
)

shape: (1, 2)
┌───────┬──────────────┐
│ Store ┆ avg_sales    │
│ ---   ┆ ---          │
│ i64   ┆ f64          │
╞═══════╪══════════════╡
│ 20    ┆ 29508.301592 │
└───────┴──────────────┘

##### What is the average number of sales for holidays and non-holiday dates?

In [15]:
query = sql.query("What is the average volume of sales for holidays and non-holiday dates?")
print(query)

WARNING:  database "postgres" has no actual collation version, but a version was recorded

SELECT AVG("Weekly_Sales") AS avg_sales, "IsHoliday"
FROM sales
GROUP BY "IsHoliday"

In [16]:
polars.read_database_uri(
    query = query.replace(";", ""),
    uri = connection
)

shape: (2, 2)
┌──────────────┬───────────┐
│ avg_sales    ┆ IsHoliday │
│ ---          ┆ ---       │
│ f64          ┆ bool      │
╞══════════════╪═══════════╡
│ 15901.445069 ┆ false     │
│ 17035.823187 ┆ true      │
└──────────────┴───────────┘