## Imports

In [1]:
import polars
import glob
import re

### Ingesting CSV files into Postgresql

In [2]:
connection = "postgresql://postgres:postgres@localhost:5432"

for csv_file in glob.glob("../data/*.csv"):

    table_name = re.search("(?<=\/)[a-z]+(?=\.)", csv_file)[0]
    pdf = polars.read_csv(csv_file, ignore_errors = True)
    pdf.write_database(
        table_name = table_name,
        connection = connection,
        if_exists = "replace"
    )

### Visualizing data from PSQL tables

#### Stores

In [3]:
polars.read_database_uri(
    query = "select * from stores",
    uri = connection
).head()

shape: (5, 3)
┌───────┬──────┬────────┐
│ Store ┆ Type ┆ Size   │
│ ---   ┆ ---  ┆ ---    │
│ i64   ┆ str  ┆ i64    │
╞═══════╪══════╪════════╡
│ 1     ┆ A    ┆ 151315 │
│ 2     ┆ A    ┆ 202307 │
│ 3     ┆ B    ┆ 37392  │
│ 4     ┆ A    ┆ 205863 │
│ 5     ┆ B    ┆ 34875  │
└───────┴──────┴────────┘

#### Sales

In [4]:
polars.read_database_uri(
    query = "select * from sales",
    uri = connection
).head()

shape: (5, 5)
┌───────┬──────┬────────────┬──────────────┬───────────┐
│ Store ┆ Dept ┆ Date       ┆ Weekly_Sales ┆ IsHoliday │
│ ---   ┆ ---  ┆ ---        ┆ ---          ┆ ---       │
│ i64   ┆ i64  ┆ str        ┆ f64          ┆ bool      │
╞═══════╪══════╪════════════╪══════════════╪═══════════╡
│ 1     ┆ 1    ┆ 05/02/2010 ┆ 24924.5      ┆ false     │
│ 1     ┆ 1    ┆ 12/02/2010 ┆ 46039.49     ┆ true      │
│ 1     ┆ 1    ┆ 19/02/2010 ┆ 41595.55     ┆ false     │
│ 1     ┆ 1    ┆ 26/02/2010 ┆ 19403.54     ┆ false     │
│ 1     ┆ 1    ┆ 05/03/2010 ┆ 21827.9      ┆ false     │
└───────┴──────┴────────────┴──────────────┴───────────┘

#### Features

In [5]:
polars.read_database_uri(
    query = "select * from features",
    uri = connection
).head()

shape: (5, 12)
┌───────┬────────────┬────────────┬────────────┬───┬───────────┬───────────┬───────────┬───────────┐
│ Store ┆ Date       ┆ Temperatur ┆ Fuel_Price ┆ … ┆ MarkDown5 ┆ CPI       ┆ Unemploym ┆ IsHoliday │
│ ---   ┆ ---        ┆ e          ┆ ---        ┆   ┆ ---       ┆ ---       ┆ ent       ┆ ---       │
│ i64   ┆ str        ┆ ---        ┆ f64        ┆   ┆ str       ┆ f64       ┆ ---       ┆ bool      │
│       ┆            ┆ f64        ┆            ┆   ┆           ┆           ┆ f64       ┆           │
╞═══════╪════════════╪════════════╪════════════╪═══╪═══════════╪═══════════╪═══════════╪═══════════╡
│ 1     ┆ 05/02/2010 ┆ 42.31      ┆ 2.572      ┆ … ┆ NA        ┆ 211.09635 ┆ 8.106     ┆ false     │
│       ┆            ┆            ┆            ┆   ┆           ┆ 8         ┆           ┆           │
│ 1     ┆ 12/02/2010 ┆ 38.51      ┆ 2.548      ┆ … ┆ NA        ┆ 211.24217 ┆ 8.106     ┆ true      │
│ 1     ┆ 19/02/2010 ┆ 39.93      ┆ 2.514      ┆ … ┆ NA        ┆ 211.28914 ┆ 8.106     ┆ false     │
│       ┆            ┆            ┆            ┆   ┆           ┆ 3         ┆           ┆           │
│ 1     ┆ 26/02/2010 ┆ 46.63      ┆ 2.561      ┆ … ┆ NA        ┆ 211.31964 ┆ 8.106     ┆ false     │
│       ┆            ┆            ┆            ┆   ┆           ┆ 3         ┆           ┆           │
│ 1     ┆ 05/03/2010 ┆ 46.5       ┆ 2.625      ┆ … ┆ NA        ┆ 211.35014 ┆ 8.106     ┆ false     │
│       ┆            ┆            ┆            ┆   ┆           ┆ 3         ┆           ┆           │
└───────┴────────────┴────────────┴────────────┴───┴───────────┴───────────┴───────────┴───────────┘

### Asking questions in Natural Language with Langchain, ChatGPT and Text2SQL

In [8]:
from text2sql.core import Text2SQL

sql = Text2SQL(model = "gpt-3.5-turbo")

##### Volume of Sales

In [10]:
query = sql.query("How much do we have in total sales?")
print(query)

SELECT SUM("Weekly_Sales") AS total_sales FROM sales

In [12]:
polars.read_database_uri(
    query = query,
    uri = connection
)

shape: (1, 1)
┌─────────────┐
│ total_sales │
│ ---         │
│ f64         │
╞═════════════╡
│ 6.7372e9    │
└─────────────┘

##### Date with the greatest volume of sales

In [13]:
query = sql.query("In which date we had the greatest volume of sales?")
print(query)

SELECT "Date", SUM("Weekly_Sales") AS total_sales
FROM sales
GROUP BY "Date"
ORDER BY total_sales DESC
LIMIT 1;

In [15]:
polars.read_database_uri(
    query = query.replace(";", ""),
    uri = connection
)

shape: (1, 2)
┌────────────┬─────────────┐
│ Date       ┆ total_sales │
│ ---        ┆ ---         │
│ str        ┆ f64         │
╞════════════╪═════════════╡
│ 24/12/2010 ┆ 8.0931e7    │
└────────────┴─────────────┘

##### Which store type has the greatest sales average?

In [16]:
query = sql.query("Which store type has the greatest sales average?")
print(query)

SELECT s."Store", st."Type", AVG(s."Weekly_Sales") AS average_sales
FROM sales s
JOIN stores st ON s."Store" = st."Store"
GROUP BY s."Store", st."Type"
ORDER BY average_sales DESC
LIMIT 1;

In [17]:
polars.read_database_uri(
    query = query.replace(";", ""),
    uri = connection
)

shape: (1, 3)
┌───────┬──────┬───────────────┐
│ Store ┆ Type ┆ average_sales │
│ ---   ┆ ---  ┆ ---           │
│ i64   ┆ str  ┆ f64           │
╞═══════╪══════╪═══════════════╡
│ 20    ┆ A    ┆ 29508.301592  │
└───────┴──────┴───────────────┘